fastapi
uvicorn
jinja2
python-multipart

pandas
numpy
matplotlib
plotly
seaborn

scikit-learn
imbalanced-learn
xgboost

pymongo
boto3
mypy-boto3-s3
botocore

PyYAML
dill
certifi
from_root
python-dotenv
gunicorn

-e .